doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block main
    script(src="/javascripts/vue.js")
    script(type="module" src="/javascripts/index.js") 
