body {
  padding: 0px;
  margin: 0px;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 10px;
}

strong{
  font-weight: bold;
}

main{
  padding: 0px;
  margin: 0px;
}
.transiAll{
  transition: all 0.3 ease-out;
}

@keyframes menu_slide{
  0%{
      width: 20em;
  }
  50%{
      width: 24em;
  }
  100%{
      width: 6em;
  }
}
@keyframes menu_slideClose{
  0%{
      width: 6em;
  }
  50%{
      width: 24em;
  }
  100%{
      width: 20em;
  }
}
.animationExtend{
  animation: menu_slide 0.4s ease-out forwards;
}
.animationNoExtend{
  animation: menu_slideClose 0.4s ease-out forwards;
}
.leftNavBar{
  width: 20em;
  transition: all 0.3s ease-out;
  margin-left: 3vh;
  border-radius: 1rem 0 0 1rem;
}

.fixedHeight80 {
  min-height: 80vh;
}

.fixedHeight90 {
  height: 90vh;
}

.fixedHeight100 {
  height: 100vh;
}

.glass{

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.blur {
  backdrop-filter: blur(16px);
}

.margTopBot{
  margin-top: 3vh;
  margin-bottom: 3vh; 
}

.main_content{
  width: 100%;
  margin-right: 3vh;
  border-radius: 0 1rem 1rem 0;
}

.borderRadius{
  border-radius: 1rem;
}

@keyframes bounceTextSize{
  0%{
    font-size: 10px;
  }
  70%{
    font-size: 15px;
  }
  100%{
    font-size: 10px;
  }
}

.textAnimation{
  animation: bounceTextSize 0.15s ease-out forwards;

}

.darkModeColor {
  background: #212121;
}
.lightModeColor{
  background: #fff;
}

.darkModeTextColor {
  color: #fff;
}
.lightModeTextColor{
  color: #212121;
}

.onglet:hover{
  color: purple
}

.tabs .indicator {
  background-color: purple;
}

polygon {
  fill: purple;
  opacity: 0.75;
}

circle {
  fill: transparent;
  stroke: #999;
}