body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

strong{
  font-weight: bold;
}

main{
  padding: 0px;
  margin: 0px;
}

.transiAll{
  transition: all 0.3 ease-out;
}

@keyframes menu_slide{
  0%{
      width: 10em;
  }
  50%{
      width: 12em;
  }
  100%{
      width: 3em;
  }
}

.fixedHeight80 {
  height: 80vh;
}

.fixedHeight90 {
  height: 90vh;
}

.fixedHeight100 {
  height: 100vh;
}

.glass{

  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px);
}


.blur {
  backdrop-filter: blur(16px);
}

.mini_badge{
  padding: 1rem;
  border-radius: 5px;
}

.margTopBot{
  margin-top: 3vh;
  margin-bottom: 3vh; 
}

.leftNavBar{
  width: 10em;
  transition: all 0.3s ease-out;
  margin-left: 3vh;
  border-radius: 1rem 0 0 1rem;
}

.main_content{
  width: 100%;
  margin-right: 3vh;
  border-radius: 0 1rem 1rem 0;
}

.leftNavBar:hover{
  animation: menu_slide 0.4s ease-out forwards;
}


.borderRadius{
  border-radius: 1rem;
}

.darkModeColor {
  background: #212121;
}
.lightModeColor{
  background: #fff;
}

.darkModeTextColor {
  color: #fff;
}
.lightModeTextColor{
  color: #212121;
}
